<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/productos.css"/>

    </head>
    <a th:text="#{index.inicio}" href="/home" class="btn btn-dark">HOME</a>
    <a th:text="#{producto.lista}" href="/comprarProductos" class="btn btn-dark">Ver Productos en la lista</a>
    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
       th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}">ES</a>
    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
       th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}">EN</a>
    <body class = "back2">
            <div class='cards'>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img th:src="@{/images/shampoo.jpg}" class="card-img-top" alt="shampoo">
                            <div class="card-body">
                                <h5 class="card-title">SHAMPOO</h5>
                                <h6>₡ 8.000</h6>
                                <p th:text="#{producto.shampooTxt}" class="card-text">Contamos con las mejores marcas de 
                                    Shampoo para cabello decolorado que cuidaran tus hermosos rayitos.</p>
                                <a th:text="#{producto.agregar}" href="/Shampoo" class="btn btn-primary">Agregar a la lista</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img th:src="@{/images/tratamiento.jpg}" class="card-img-top" alt="tratamiento">
                            <div class="card-body">
                                <h5 th:text="#{producto.tratamiento}" class="card-title">TRATAMIENTO PARA CABELLO MALTRATADO</h5>
                                <h6>₡ 25.500</h6>
                                <p th:text="#{producto.tratamientoTxt}" class="card-text">Recupera la vida de tu cabello con nuestros tratamientos. 
                                    Le brindaran brillo y un excelente aroma a tu cabello.</p>
                                <a th:text="#{producto.agregar}" href="/Tratamiento" class="btn btn-primary">Agregar a la lista</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img th:src="@{/images/crema risos.jpg}" class="card-img-top" alt="crema">
                            <div class="card-body">
                                <h5 th:text="#{producto.crema}" class="card-title">CREMA PARA RIZOS</h5>
                                <h6>₡ 18.000</h6>
                                <p th:text="#{producto.cremaTxt}"class="card-text">Una crema que sí define tus rizos, controlando el frizz. 
                                    El uso diario de este producto aportara volumen y brillo a tus rizos.</p>
                                <a th:text="#{producto.agregar}" href="/Crema" class="btn btn-primary">Agregar a la lista</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img th:src="@{/images/gotas.jpg}" class="card-img-top" alt="gotas">
                            <div class="card-body">
                                <h5 th:text="#{producto.aceiteArgan}" class="card-title">ACEITE DE ARGAN</h5>
                                <h6>₡ 12.000</h6>
                                <p th:text="#{producto.aceiteTxt}"class="card-text">Este aceite es perfecto para el cuidado del cabello despues 
                                    del planchado para darle brillo y movilidad a tu cabello.</p>
                                <a th:text="#{producto.agregar}" href="/Aceite" class="btn btn-primary">Agregar a la lista</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img th:src="@{/images/esmaltes.jpg}" class="card-img-top" alt="esmaltes">
                            <div class="card-body">
                                <h5 th:text="#{producto.esmalte}"class="card-title">ESMALTE DE UÑAS</h5>
                                <h6>₡ 2.500</h6>
                                <p th:text="#{producto.esmalteTxt}" class="card-text">Te brindamos los esmaltes de la mejor 
                                    calidad del mercado, que ayudaran al crecimiento de tus uñas.</p>
                                <a th:text="#{producto.agregar}" href="/Esmalte" class="btn btn-primary">Agregar a la lista</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img th:src="@{/images/sombras.jpg}" class="card-img-top" alt="sombras">
                            <div class="card-body">
                                <h5 th:text="#{producto.sombras}" class="card-title">SOMBRAS DE OJOS</h5>
                                <h6>₡ 15.500</h6>
                                <p th:text="#{producto.sombrasTxt}" class="card-text">Tenemos esos colores que haran resaltar tus ojos y
                                    tu maquillaje con la mejor pigmentación para facilitar la aplicación.</p>
                                <a th:text="#{producto.agregar}" href="/Sombras" class="btn btn-primary">Agregar a la lista</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img th:src="@{/images/labiales.jpg}" class="card-img-top" alt="labiales">
                            <div class="card-body">
                                <h5 th:text="#{producto.labial}" class="card-title">LABIALES</h5>
                                <h6>₡ 5.500</h6>
                                <p th:text="#{producto.labialTxt}" class="card-text">Te brindamos gran variedad de labiales 
                                    mate y lip gloss, que te haran lucir unos labios hermosos.</p>
                                <a th:text="#{producto.agregar}" href="/Labiales" class="btn btn-primary">Agregar a la lista</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img th:src="@{/images/mascarillas.jpg}" class="card-img-top" alt="mascarillas">
                            <div class="card-body">
                                <h5 th:text="#{producto.mascarilla}" class="card-title">MASCARILLAS FACIALES</h5>
                                <h6>₡ 2.000</h6>
                                <p th:text="#{producto.mascarillaTxt}" class="card-text">Cuida tu piel hidratandola, humectandola y 
                                    limpiandola con mascarillas faciales. Te ayudaran a tener un cutis perfecto.</p>
                                <a th:text="#{producto.agregar}" href="/Mascarilla" class="btn btn-primary">Agregar a la lista</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>
