<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Agendar Producto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/citas.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

    </head>
    <a th:text="#{index.inicio}" href="/home" class="btn btn-dark">HOME</a>
    <body class = "back2">
        <div class="table">
            <div class="container">
                <div class="card-header bg-black text-white"> </div>
                <div class="card-body">
                    <!-------------------Esto es un Formulario--------------- -->
                    <div class="container">
                        <form th:object = "${producto}"
                              th:action="@{/saveProd}"
                              method="POST"
                              >
                            <input type="hidden" th:field="*{id}">
                            <div class="form-group mb-3 row">
                                <label  class="col-md-2 col-form-label" for="producto">Producto</label>
                                <div class="col-sm-10" th:field="*{producto}" >
                                    <input type="text" id="producto" name="producto" value="Tratamiento para cabello maltratado" class="form-control form-control-sm col-md-6" aria-describedby="emailHelp" readonly>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="form-control-sm col-md-2  col-form-label" for="cantidad">Cantidad</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm col-md-6" th:field="*{cantidad}" placeholder= "cantidad" id="cantidad" aria-describedby="emailHelp">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" value="Guardar">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
       th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}">ES</a>
    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
       th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}">EN</a>
</html>