/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 8, 2022, 7:48:43 PM
    Author     : elena
*/
.back2 {
    background:  url(https://img.freepik.com/foto-gratis/equipo-peluqueria-espacio-copia_23-2148352849.jpg?w=740&t=st=1666150332~exp=1666150932~hmac=f8ef48603b83e5d86ab121c55367b20ccde1549d3da1952b17f48ea9e0418663) no-repeat top center ;
    background-size:100%;
    background-attachment: fixed;

}

/*citas*/
.table{
    position: absolute;
    top: 300px;
}

.textoCitas{
    background-color: black;
    color: white;
    font-size: 80px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
