/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 8, 2022, 7:28:03 PM
    Author     : elena
*/
.back2 {
    background:  url(https://img.freepik.com/foto-gratis/equipo-peluqueria-espacio-copia_23-2148352849.jpg?w=740&t=st=1666150332~exp=1666150932~hmac=f8ef48603b83e5d86ab121c55367b20ccde1549d3da1952b17f48ea9e0418663) no-repeat top center ;
    background-size:100%;
    background-attachment: fixed;
}

.cards{
    padding: 20px;
}

.card-text{
    padding: 40px;
}

.bot1{
  margin-bottom: 10px;
}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    padding: 200px;
    border: 20px whitesmoke;
}