/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 2, 2022, 6:01:49 PM
    Author     : elena
*/
.block{
    position: relative;
    font-size: 40px;
    left: 300px;
    background-color: antiquewhite;
    width: 800px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.test{
    font-size: 25px;
    font-weight: 100;
    position: relative;
    width: 35em;
    word-wrap: break-word;
    left: 10px;
    top: 50px
}

.beneficios{
    position: relative;
    font-size: 20px;
    font-weight: 100;
    top: 300px;
    width: 35em;
    word-wrap: break-word;
    left: 10px;
}

.financiamientoimag{
    position: absolute;
    top: 10px;
    left: 600px;
    width: 300px;
}