<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang"en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Beuty Salon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/index.css"/>

    <nav>
        <a href="#">Inicio</a>
        <a href="Servicios.html">Servicios</a>
        <a href="Productos.html">Productos</a>
        <a href="Promociones.html">Promociones</a> 
        <a href="citas.html">Agendar Cita</a>
        <a href="Contacto.html">Contacto</a>
    </nav>

</head>
<body class="back">
    <div>
        <p class="block">No dejes que tu vida pase ante tí, sin emoción alguna. 
            Convierteté en una estrella del glamour, de la mano de nuestros especialistas.
            Tu cabello y cutis merecen ser tratados como una obra de arte. Ven y realiza el cambio que tanto anhelas.
            Ofrecemos diferentes servicios de belleza tanto para mujeres como para hombres. Tu cuerpo es tu templo y tu lugar de vida
            <a target="_blank" href="tryit.asp?filename=trycss_text">"WhatsApp"</a> link.</p>
    </div>
</body>

</html>
