<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang"en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Beauty Salon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/index.css"/>

    <nav>
        <a th:text="#{index.inicio}" href="#">Inicio</a>
        <a th:text="#{index.servicios}" href="/salonServicios">Servicios</a>
        <a th:text="#{index.productos}" href="/salonProductos">Productos</a>
        <a th:text="#{index.promociones}" href="/salonPromociones">Promociones</a> 
        <a th:text="#{index.citas}" href="/salonCita">Citas Agendadas</a>
        <a th:text="#{index.agendar}" href="/salonAgendar">Agendar Cita</a>
        <a th:text="#{index.contacto}" href="/salonContacto">Contacto</a>
    </nav>
    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
       th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}">ES</a>
    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
       th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}">EN</a>
</head>
<body class="back">
    <div>
        <p th:text="#{index.texto}" class="block">No dejes que tu vida pase ante tí, sin emoción alguna. 
            Convierteté en una estrella del glamour, de la mano de nuestros especialistas.
            Tu cabello y cutis merecen ser tratados como una obra de arte. Ven y realiza el cambio que tanto anhelas.
            Ofrecemos diferentes servicios de belleza tanto para mujeres como para hombres. Tu cuerpo es tu templo y tu lugar de vida
            <a target="_blank" href="tryit.asp?filename=trycss_text">"WhatsApp"</a> link.</p>
    </div>
</body>


</html>
