<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/index.css"/>

    </head>
    <body class = "back2">
        <div class='cards'>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="static/images/shampoo.jpg" class="card-img-top" alt="shampoo">
                        <div class="card-body">
                            <h5 class="card-title">SHAMPOO</h5>
                            <p class="card-text">Contamos con las mejores marcas de 
                                Shampoo para cabello decolorado que cuidaran tus hermosos rayitos.</p>
                            <a href="#" class="btn btn-primary">Agregar a la lista</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="static/images/tratamiento.jpg" class="card-img-top" alt="tratamiento">
                        <div class="card-body">
                            <h5 class="card-title">TRATAMIENTO PARA CABELLO MALTRATADO</h5>
                            <p class="card-text">Recupera la vida de tu cabello con nuestros tratamientos. 
                                Le brindaran brillo y un excelente aroma a tu cabello.</p>
                            <a href="#" class="btn btn-primary">Agregar a la lista</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="static/images/crema risos.jpg" class="card-img-top" alt="crema para risos">
                        <div class="card-body">
                            <h5 class="card-title">CREMA PARA RIZOS</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Agregar a la lista</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="static/images/gotas.jpg" class="card-img-top" alt="gotas">
                        <div class="card-body">
                            <h5 class="card-title">GOTAS DE ARGAN</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Agregar a la lista</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="static/images/esmaltes.jpg" class="card-img-top" alt="esmaltes">
                        <div class="card-body">
                            <h5 class="card-title">ESMALTE DE UÑAS</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="#" class="btn btn-primary">Agregar a la lista</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="static/images/sombras.jpg" class="card-img-top" alt="sombras">
                        <div class="card-body">
                            <h5 class="card-title">SOMBRAS DE OJOS</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Agregar a la lista</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="static/images/labiales.jpg" class="card-img-top" alt="labiales">
                        <div class="card-body">
                            <h5 class="card-title">LABIALES</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Agregar a la lista</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="static/images/mascarillas.jpg" class="card-img-top" alt="mascarillas">
                        <div class="card-body">
                            <h5 class="card-title">MASCARILLAS FACIALES</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Agregar a la lista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
