<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Promociones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <body class = "back2">
        <br><br>
        
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Promociones Fin de Año</h1>
                <p class="lead">Promociones por tiempo limitado. Aprovecha nuestros descuentos a precio costo</p>
                <hr class="my-4">
                <p>Si ya eres cliente frecuente, el envio sera completamente gratis</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Soy Cliente frecuente</a>
                </p>
            </div>

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    Promociones para regalar
                </a>
                <a href="#" class="list-group-item list-group-item-action">Depilacion - 3 sesiones - antes: ₡15,000   ------------------------------------>  Ahora: ₡12,000</a>
                <a href="#" class="list-group-item list-group-item-action">Maquillaje para Graduaciones - 1 sesion - antes: ₡10,200   ----------------->  Ahora ₡5,500   </a>
                <a href="#" class="list-group-item list-group-item-action">Peinados en tendencia - 2 sesion - antes: ₡6,200  --------------------------> Ahora ₡4,200  </a>
                <a href="#" class="list-group-item list-group-item-action disabled">Uñas - 4 sesiones - antes: ₡13,200 ----------------------------------------->  Ahora ₡7,500  </a>
            </div>
            <br><br>

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    Promociones para Caballeros
                </a>
                <a href="#" class="list-group-item list-group-item-action">Sesion barba caballero - antes: ₡7,000   --------------------------->  Ahora: ₡3,000</a>
                <a href="#" class="list-group-item list-group-item-action">Mascarilla y exfoliacion  - antes: ₡10,200   ------------------------->  Ahora ₡5,500   </a>
                <a href="#" class="list-group-item list-group-item-action">Corte de pelo para 2 personas - antes: ₡12,200  -----------------> Ahora ₡8,200  </a>
                <a href="#" class="list-group-item list-group-item-action disabled">Cejas y marcacion - antes: ₡5,100 ------------------------------->  Ahora ₡2,500  </a>
            </div>
            <br><br>
            
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    Promociones para Damas
                </a>
                <a href="#" class="list-group-item list-group-item-action">Keratina - antes: ₡40,000   --------------->  Ahora: ₡32,000</a>
                <a href="#" class="list-group-item list-group-item-action">Botox  - antes: ₡37,200   ----------------->  Ahora ₡30,500   </a>
                
            </div>
            <br><br>
            
            
            <a href="Contacto.html">Quiero mas informacion</a>
            
             <br><br>
        </div>
    </body>
</html>
