<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Promociones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/promociones.css"/>

    </head>
    <a href="/home" class="btn btn-dark">HOME</a>
    <body class = "back2">

        <br><br>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Promociones Fin de Año</h1>
                <p class="lead">Promociones por tiempo limitado. Aprovecha nuestros descuentos de fin de año.</p>
                <hr class="my-4">
                <p class="lead">Si ya eres cliente frecuente, obtendras una regalia al hacer uso de 
                    alguno de nuestros servicios o compra de nuestros productos.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Soy Cliente frecuente</a>
            </div>

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    Promociones para regalar
                </a>
                <a href="#" class="list-group-item list-group-item-action">Depilacion - 3 sesiones - antes: ₡15,000   ------------------------------------>  Ahora: ₡12,000</a>
                <a href="#" class="list-group-item list-group-item-action">Maquillaje para Graduaciones - 1 sesion - antes: ₡10,200   ----------------->  Ahora ₡5,500   </a>
                <a href="#" class="list-group-item list-group-item-action">Peinados en tendencia - 2 sesion - antes: ₡6,200  --------------------------> Ahora ₡4,200  </a>
                <a href="#" class="list-group-item list-group-item-action disabled">Uñas - 4 sesiones - antes: ₡13,200 ----------------------------------------->  Ahora ₡7,500  </a>
            </div>
            <br><br>

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    Promociones para Caballeros
                </a>
                <a href="#" class="list-group-item list-group-item-action">Sesion barba caballero - antes: ₡7,000   --------------------------->  Ahora: ₡3,000</a>
                <a href="#" class="list-group-item list-group-item-action">Mascarilla y exfoliacion  - antes: ₡10,200   ------------------------->  Ahora ₡5,500   </a>
                <a href="#" class="list-group-item list-group-item-action">Corte de pelo para 2 personas - antes: ₡12,200  -----------------> Ahora ₡8,200  </a>
                <a href="#" class="list-group-item list-group-item-action disabled">Cejas y marcacion - antes: ₡5,100 ------------------------------->  Ahora ₡2,500  </a>
            </div>
            <br><br>

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    Promociones para Damas
                </a>
                <a href="#" class="list-group-item list-group-item-action">Keratina - antes: ₡40,000   --------------->  Ahora: ₡32,000</a>
                <a href="#" class="list-group-item list-group-item-action">Botox  - antes: ₡37,200   ----------------->  Ahora ₡30,500   </a>

            </div>
            <br><br>
            <a href="salonContacto">Quiero mas informacion</a>
            <br><br>
        </div>

        <br><br>
        <div class="coupon">
            <div class="container">
                <h3>TRATAMIENTO KERATINA</h3>
            </div>
            <img src="images/keratina.jpg" alt="keratina" style="width:100%;">
            <div class="container" style="background-color:white">
                <h2><b>20% de descuento</b></h2>
                <p>POR TIEMPO LIMITADO</p>
            </div>
            <div class="container">
                <p>Usa el codigo promocional: <span class="promo">BOH232</span></p>
                <p class="expire">Expira Enero 03, 2023</p>
            </div>
        </div>

        <br><br>
        <div class="coupon">
            <div class="container">
                <h3>TRATAMIENTO CURLY HAIR</h3>
            </div>
            <img src="images/colochos.jpg" alt="colochos" style="width:100%;">
            <div class="container" style="background-color:white">
                <h2><b>35% de descuento</b></h2>
                <p>POR TIEMPO LIMITADO</p>
            </div>
            <div class="container">
                <p>Usa el codigo promocional: <span class="promo">EDT187</span></p>
                <p class="expire">Expira Diciembre 08, 2022</p>
            </div>
        </div>
        <br><br>

        <div class="coupon">
            <div class="container">
                <h3>TRATAMIENTO DE CACAO - BRILLO</h3>
            </div>
            <img src="images/cacao.jpg" alt="cacao" style="width:100%;">
            <div class="container" style="background-color:white">
                <h2><b>15% de descuento</b></h2>
                <p>POR TIEMPO LIMITADO</p>
            </div>
            <div class="container">
                <p>Usa el codigo promocional: <span class="promo">PLQ238</span></p>
                <p class="expire">Expira Noviembre 22, 2022</p>
            </div>
        </div>
        <br><br>

    </body>
</html>
